name: Upload coverage reports

on:
  workflow_call:

jobs:
  publish-coverage-reports:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ci-artifacts
          pattern: coverage-data-*

      - run: mv ci-artifacts/**/.coverage* ./

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Create coverage report
        run: |
          pip3 install coverage[toml]
          coverage combine
          coverage html

      - name: Upload comprehensive coverage HTML report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/

      - run: coverage report && coverage xml

      - uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        with:
          files: ./coverage.xml
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
