name: Build and publish python package

on:
  workflow_call:

permissions:
  contents: read

jobs:
  publish-to-pypi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      # use fetch --all for setuptools_scm to work
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: python -m pip install --upgrade pip twine

    - name: Build wheel
      run: python -m pip wheel -w dist --no-deps .

    - name: Check distribution
      run: twine check dist/*

    - name: Publish package (to TestPyPI)
      if: github.event_name == 'workflow_dispatch' && startsWith(github.repository, 'cpp-linter')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: twine upload --repository testpypi dist/*

    - name: Publish package (to PyPI)
      if: github.event_name != 'workflow_dispatch' && startsWith(github.repository, 'cpp-linter')
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: twine upload dist/*
